/* body{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#counter{
    color: white;
    font-size: 40px;
} */
/* #main-conter{
    width: 200px;
}
#hr{
    width: 10%;
    margin-left: 0;
} */